@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

@model MovieListViewModel

<div>
    <h2>Joel's Collection</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie x in Model.Movies)
            {
                if (x.Title == "Independence Day")
                {

                }
                else
                {
            <tr>
                <td>@x.Title</td>
                <td>@x.Category</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.Lent</td>
                <td>@x.Notes</td>
                <td>
                    <form id="@x.MovieId" asp-action="Edit" method="post">
                        <input type="hidden" value="@x.MovieId" name="MovieId"/>
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form id="@x.MovieId" asp-action="Delete" method="post">
                        <input type="hidden" value="@x.MovieId" name="MovieId" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>